@import url('../assets/css/all.min.css');

$primary-color:#e41957;
$title-color:#7f799c;

@font-face {
    font-family: almarai;
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/Almarai-ExtraBold.ttf') format("truetype");
  }
  @font-face {
    font-family: almarai;
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Almarai-Bold.ttf') format("truetype");
  }
  @font-face {
    font-family: almarai;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Almarai-Regular.ttf') format("truetype");
  }
  @font-face {
    font-family: almarai;
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Almarai-Light.ttf') format("truetype");
  }
  @font-face {
    font-family: "Circular-Black";
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/Circular-Black.ttf') format("truetype");
  }
  @font-face {
    font-family: "CircularAir";
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/CircularAir-Book.ttf') format("truetype");
  }
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    outline:none !important;
  }

html,body{
  overflow-x:hidden;
}

body{
    background:#13111d;
    margin:0;
    padding:0;
    font-family: almarai, "CircularAir", sans-serif,tahoma;
    color:$title-color;
}

.container{
    width:93.5%;
    margin:auto;
}

.d-flex{
    display:flex !important;
}

.align-items-center{
    align-items:center !important;
}

.justify-content-start{
    justify-content:flex-start !important;
}

::-webkit-scrollbar{
  background:rgba($primary-color,0.35);
  width:3px;

  @media screen and (max-width:1024px){
    width:0;
    height:0;
    background:transparent;
  }
}

::-webkit-scrollbar-thumb{
  background:$primary-color !important;
  border-radius:50px;
}

header{
    width:calc(100% - 250px);
    height:75px;
    position:fixed;
    top:15px;
    left:250px;
    right:0;
    border-radius:35px;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(6px);
    z-index:9999;

    @media screen and (max-width:1024px){
      left:0;
      width:100%;
      position:absolute;
      img{
        width:75px !important;
      }
      small{
        display:none !important;
      }
      .search-wrapper{
        input{
          width:150px;
        }
      }
    }

    img{
        width:150px;
    }
    
    small{
        margin-left:25px;
        font-size:14px;
        color:$title-color;
        font-weight: normal;
        font-family: "CircularAir",sans-serif,tahoma;
    }
    .container{
        height:100%;
    }
}

main{
    padding-top:125px;
    padding-bottom:125px;
}

h1,h2,h3,h4,h5,h6{
    color:#FFF;
    font-family: "CircularAir",sans-serif,tahoma;
    font-weight:bold;
}

h1,h2,h3,h4,h5,h6,a,p,ul,ol,table,img,pre,code{
    margin:0;
    padding:0;
}

.slick-item-outer{
  min-width:222px;
}

.music-wrapper{
    width:190px;
    height:275px;
    flex:0 0 auto;
    overflow:hidden;
    cursor: pointer;

    &__image{
        width:190px;
        height:190px;
        overflow:hidden;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:10px;
        position:relative;

        &__overlay{
          width:100%;
          height:100%;
          position:absolute;
          border-radius:10px;
          background:rgba(0,0,0,0.25);
          display:flex;
          align-items:center;
          justify-content:center;
          font-size:18px;
          color:$primary-color;

          i{
            width:50px;
            height:50px;
            border-radius:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            background:rgba($primary-color,0.25);
            backdrop-filter:blur(5px);
            border:1px solid $primary-color;
          }
        }

        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }
    &__body{
        width:100%;
        height:75px;
        overflow:hidden;
        display:flex;
        align-items:flex-start;
        justify-content:center;
        flex-direction: column;
        text-align: center;

        strong{
            font-size:18px;
            margin-bottom:5px;
            color:#FFF;
            max-width:100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        small{
            font-size:12px;
            max-width:100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.section-title{
    margin:25px 0;
}

.musics-container{
    width:100%;
    min-height:100px;
    margin-bottom:25px;

    &__inner{
        width:100%;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        flex-wrap: wrap;

        @media screen and (max-width:1024px){
          flex-wrap:nowrap;
          white-space:nowrap;
          overflow:auto;
        }

        .music-wrapper{
            margin:15px;
        }
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 8px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary-color transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading{
      width:100%;
      height:auto;
      display:flex;
      align-items:center;
      justify-content:center;
      min-height:200px;
  }

  .player-wrapper{
      width:calc(100% - 250px);
      height:100px;
      background:rgba(0,0,0,0.8);
      backdrop-filter:blur(6px);
      position:fixed;
      bottom:0;
      left:250px;
      right:0;
      display:flex;
      overflow:hidden;

      @media screen and (max-width:1024px){
        left:0;
        width:100%;
      }

      .player-inner{
          width:100%;
          display:flex;
          align-items:center;
          justify-content:space-between;

          &__center{
            padding:0 50px;
            height:100%;
            flex-grow:1;
            display:flex;
            align-items:center;
            flex-direction: column;

            @media screen and (max-width:1024px){
              padding:0 15px;
            }

            &__seekbar{
              width:100%;
              height:2px;
              background:rgba($title-color,.3);
              border-radius:3px;
              @media screen and (max-width:1024px){
                display:none;
              }
              
              &__filled{
                
                height:3px;
                position: relative;

                &-0{
                  background:rgba($primary-color,.3);
                }

                &__thumb{
                  width:12px;
                  height:12px;
                  background:$primary-color;
                  border-radius:50%;
                  top:0;
                  bottom:0;
                  margin:auto;
                  cursor: pointer;
                }
              }
            }

            &__details{
                width:100%;
                display:flex;
                align-items:flex-end;
                justify-content:space-between;
                margin-bottom:25px;
                font-family: "CircularAir";

                @media screen and (max-width:1024px){
                  align-items:center;
                  margin-bottom:0;
                }

                div:first-child{
                  @media screen and (max-width:1024px){
                    small{
                      display:none;
                    }
                  }
                }

                div:last-child{
                  b{
                    color:$primary-color;
                  }
                  small{
                    font-size:10px;
                  }
                  @media screen and (max-width:1024px){
                    display:none
                  }
                }

                strong{
                  color:#FFF;
                }

                small{
                  margin-left:10px;
                }
            }
          }

          &__right{
            width:auto;
            height:100px;
            color:#FFF;
            
            &__actions{
              display:flex;
              align-items:center;
              justify-content:center;
              height:100%;
            }

            i{
              cursor: pointer;
            }

            i{
              font-size:12px;
              opacity:1;
              color:$title-color;
              width:26px;
              height:26px;
              border-radius:50%;
              border:1px solid $title-color;
              display:flex;
              align-items:center;
              justify-content:center;
            }

            .fa-play,.fa-pause{
              &::before{
                position:relative;
                left:1px;
              }
              font-size:24px;
              margin:0 20px;
              opacity:1;
              border:none;
              color:#FFF;
              border-radius:50%;
              display:flex;
              align-items:center;
              justify-content:center;
              width:64px;
              height:64px;
              background:rgba($primary-color,1);

              
            }
          }

          .fa-pause::before{
            left:0;
          }

          &__left{
              width:100px;
              height:100px;
              flex: 0 0 auto;
              display:flex;
              align-items:center;
              justify-content:center;

              @media screen and (max-width:1024px){
                width:50px;
              }

              &__cover{
                  width:80px;
                  height:80px;
                  border-radius:10px;
                  display:flex;
                  align-items:center;
                  justify-content:center;
                  overflow: hidden;
                  background:$title-color;

                  @media screen and (max-width:1024px){
                    width:40px;
                    height:40px;
                  }

                  img{
                      width:100%;
                      height:100%;
                      object-fit: cover;
                  }
              }
          }
      }
  }

.slick-prev{
  top:-35px;
  right:40px;
  left:initial;

  &::before{
    content:'\f104';
    font-family: "Font Awesome 5 Pro";
  }
}

.slick-next{
  top:-35px;
  right:0; 
  &::before{
    content:'\f105';
    font-family: "Font Awesome 5 Pro";
  }
}

.hero-wrapper{
  .slick-item-outer{
    min-width:405px;

    @media screen and (max-width:1024px){
      width:80vw;
      min-width:initial;
      flex: 0 0 auto;
    }

    .music-wrapper{
      width:375px;
      height:250px;
      position:relative;

      @media screen and (max-width:1024px){
        width:90%;
      }
      
      &__image{
        width:100%;
      }
    }
  }
}

.flex-column{
  flex-direction: column !important;
}

.justify-content-center{
  justify-content: center !important;
}

.mt-5{
  margin-top:5px;
}

.playlist-artists{
  max-width:250px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag{
  padding:4px 10px;
  background:rgba(255,255,255,.2);
  color:#FFF;
  border-radius:5px;
  margin:0 5px;
  font-size:12px;
  color:'CircularAir';
}

.tags-wrapper{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:25px 0;
}

.circle-image{
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:15px 0;

  img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.tracks-wrapper{
  max-width:750px;
  overflow: hidden;
  display:flex;
  align-items:center;
  justify-content: center;
  margin:auto;
  margin-top:50px;
  flex-direction: column;
}

.track{
  display:flex;
  align-items:center;
  width:100%;
  height:70px;
  margin-bottom:5px;
  padding:0 10px;
  background:rgba(255,255,255,.1);
  border-radius:5px;
  cursor: pointer;

  &:hover {
    background:rgba(255,255,255, .2);
  }
  
  &--playing {
    border: 1px solid $primary-color;
  }

  &__cover{
    width:50px;
    height:50px;
    border-radius:5px;
    object-fit: cover;
  }

  &__content{
    flex: 1;
    display:flex;
    align-items: center;
    min-width: 0;
  }
  
  &__details{
    flex-grow: 1;
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0 20px;

    @media screen and (max-width: 770px){
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__name, &__artist {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media screen and (max-width: 770px){
      width: 100%;
    }
  }

  &__name {
    margin-right:15px;
    font-size:18px;
    color: white;
  }

  &__artist {
    font-size:14px;
    font-weight:normal;
    color: $title-color;
  }
  
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__play-count{
    font-family: 'CircularAir';
    font-size:14px;

    & small{
      display: block;
      font-size:10px;
      font-weight:normal;
      text-align: right;
    }
  }

  &__play-icon {
    margin-right:15px;
    margin-left:25px;
    color:$primary-color;
  }

}

.justify-content-end{
  justify-content:flex-end !important;
}

.search-wrapper{
  margin-left:auto;
  position:relative;

  i{
    position:absolute;
    right:20px;
    top:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    color:$primary-color;
  }

  input{
    border:none;
    background:rgba(255,255,255,.2);
    color:#FFF;
    padding:10px 25px;
    padding-right:60px;
    border-radius:25px;
    &::placeholder{
      color:rgba(255,255,255,.5);
    }
  }
}

.artist-wrapper{
  width:190px;
  height:275px;
  cursor: pointer;

  &__image{
    width:190px;
    height:190px;
    border-radius:50%;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:center;

    img{
      width:100%;
      height:100%;
      object-fit:cover;
    }
  }
  &__body{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:15px;
    strong{
      font-family: "CircularAir";
    }
  }
}

.search-columns{
  display:flex;
  flex-wrap:wrap;
  section{
    width:50%;
    padding:0 15px;
  }
}

.artists-container.no-slide,.playlists-container.no-slide{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
}

.playlists-container,.artists-container{
  @media screen and (max-width:1024px){
    flex-wrap:nowrap;
    white-space:nowrap;
    overflow:auto;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
  }
}

.app{
  // display:flex;
  // align-items:center;
  // justify-content:flex-end;
}

.page{
  width:calc(100vw - 255px);
  position:relative;
  left:250px;

  @media screen and (max-width:1024px){
    width:100%;
    left:0;
  }
}

aside{
  width:250px;
  height:100vh;
  position:fixed;
  left:0;
  top:0;
  padding:25px;

  @media screen and (max-width:1024px){
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;

    &>strong{
      display:none;
    }

    ul{
      margin-top:0 !important;
      display:flex;
      align-items:center;
      justify-content:center;
      li{
        margin:0 15px !important;
      }
    }
  }

  strong{
    color:#FFF;
  }

  ul{
    margin-top:50px;
    padding:0;
    list-style: none;

    li{
      margin:25px 0;
      font-weight:300;
      font-family: "CircularAir";
      cursor: pointer;

      &.active{
        color:$primary-color;
      }

      i{
        margin-right:10px;
      }
    }
  }
}

.artist-page{
  .circle-image{
    width:300px;
    height:300px;
  }
}